.emailLabel{
    -fx-font-family: "Akrobat";
    -fx-font-size: 18px;
}
.sidebarButton{
    -fx-border-color: rgb(21, 1, 122); 
    -fx-background-color: rgb(21, 1, 122);
    -fx-font-family: "Akrobat";
    -fx-font-size: 24px;
}
.sidebarButton:selected{
    -fx-background-color: yellow;
}
.mainView.oneSoil{
    visibility: visible;
}
.one-soil-checkbox{
    -fx-padding: 10px;
}
.cell.indexed-cell.list-cell.selected{
    -fx-background-color: black;
}
.one-soil-checkbox-container{
    -fx-alignment: center-left;
}
.seasonsButton{
    /* -fx-padding: 15px; */
    /* -fx-border-insets: 10px;
    -fx-background-insets: 10px; */
    -fx-pref-height: 30px;
}
.one-soil-season-button-box{
    -fx-padding: 10px;
}
.season-list{
    -fx-pref-width: 150px;
    -fx-pref-height: 200px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}
.note-season-button{
    -fx-pref-width: 155px;
    /* -fx-padding: 10px; */
    -fx-pref-height: 30px;
}
.listview-hbox{
    -fx-pref-height: 350px;
    -fx-background-color: yellow;
}
.onesoil-season-button-box{
    -fx-spacing: 10px;
}
.file-path-input{
    -fx-padding: 10px;
}
.generateButton{
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}
.progress-bar-hbox{
    -fx-padding: 0 0 0 5px;
}